[Unit]
Description=MQTT to GPS Logger
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/gps_tracking_RPI_SIM868/server/mqtt_gps_tracking.py
WorkingDirectory=/opt/gps_tracking_RPI_SIM868/server/
Restart=always
User=root
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
